{% extends "base.html.twig" %}

{% block body %}
    <section class="reviews">
        <h2 class="title">Редактирование отзыва на книгу "{{ book.title }}"</h2>
        <div class="box-container">
            <div class="box">
                <div>
                    {{ form_start(form) }}
                    <p class="card-header">{{ form_label(form.comment) }}</p>
                    <p class="card-text">
                        {{ form_widget(form.comment, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
                    </p>
                    <p class="card-header">{{ form_label(form.value) }}</p>
                    <p class="card-text">
                        {{ form_widget(form.value, {'attr': {'class': 'form-control'}}) }}
                    </p>
                    {{ form_widget(form.save, {'attr': {'class': 'button delete-btn-custom'}}) }}
                    {{ form_end(form) }}
                </div>
                <p align="left"><a href="{{ path('rating_list', {'bookId': book.idBooks}) }}">
                        &#8678; Вернуться в список отзывов</a></p>
            </div>
        </div>
    </section>
{% endblock %}