{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3>Отзывы на книгу "{{ book.title }}"</h3>
        {% if currentUserReview is not null %}
            <div class="card">
                <div class="card-header">
                    Ваш отзыв
                </div>
                <div class="card-body">
                    <p class="card-text">{{ currentUserReview.comment|length > 180
                        ? currentUserReview.comment|slice(0, 180)|escape ~ '...'
                        : currentUserReview.comment|escape
                        }}</p>
                    <a href="{{ path('rating_edit', {'bookId': currentUserReview.book.idBooks, 'ratingId': currentUserReview.id}) }}"
                       class="button buttonBlue">Редактировать</a>
                </div>
                <div class="card-footer">
                    Оценка: {{ currentUserReview.value }} / 5
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-header">
                    Ваш отзыв
                </div>
                <div class="card-body">
                    <p class="card-text">Вы ещё не написали свой отзыв</p>
                    <a href="{{ path('rating_new', {'bookId': book.idBooks}) }}"
                       class="button buttonBlue">Добавить отзыв</a>
                </div>
            </div>
        {% endif %}
        <h4>Отзывы других пользователей</h4>
        {% for review in ratings %}
            <div class="card">
                <div class="card-header">
                    {{ review.user.fullName|escape }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ review.comment|length > 180 ? review.comment|slice(0, 180)|escape ~ '...' : review.comment|escape }}</p>
                    <a href="{{ path('rating_show', {'bookId': review.book.idBooks, 'ratingId': review.id}) }}">Просмотр</a>
                </div>
                <div class="card-footer">
                    Оценка: {{ review.value }} / 5
                </div>
            </div>
        {% endfor %}
        {% if ratings is empty %}
            <p>Здесь ещё нет отзывов от других пользователей...</p>
        {% endif %}
    </div>
{% endblock %}