{% extends 'base.html.twig' %}

{% block body %}
    <section class="reviews">
        <h2 class="title">Отзыв на книгу "{{ rating.book.title|escape }}"</h2>
        <div class="box-container">
            <div class="box">
                <p class="card-header">
                    {{ rating.user.fullName|escape }}
                </p>
                <p class="card-text">{{ rating.comment|escape }}</p>
                <div class="card-footer">
                    <p>Оценка: {{ rating.value }} / 5</p>
                    <div class="stars">
                        {% for i in  1.. rating.value %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                    </div>
                </div>
                <p align="left"><a href="{{ path('rating_list', {'bookId': rating.book.idBooks}) }}">
                        &#8678; Вернуться в список отзывов</a></p>
            </div>
        </div>
    </section>
{% endblock %}