{% extends 'base.html.twig' %}

{% block title %}Добавление{% endblock %}

{% block body %}
<div class="pageAdd">

    {% if errorMessage is defined %}
        <h4 style="color: #397CC5;">{{ errorMessage }}</h4>
    {% endif %}

    <h2>Добавляем</h2>
    <div class="tab-wrapper">

        <ul class="tab-menu">
            <li class="active">Книгу</li>
            <li>Автора</li>
            <li>Издательство</li>
            <li>Город</li>
            <li>Вид издательства</li>
            <li>Категорию</li>
        </ul>

        <div class="tab-content">
            <div>
                <form method = "POST" action= "" enctype="multipart/form-data">

                    <div class="group">
                        <label for="name"> Название книги: </label>
                        <br><br>
                        <input type="text" name="title" placeholder="Введите название книги"/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>

                    <div class="group">
                        <label for="name"> Описание к документу: </label>
                        <br><br>
                        <input type="text" name="description" placeholder="Введите аннотацию к книге"/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>

                    <div class="group">
                        <label>Автор: </label>
                        <br><br>
                        <select name="name_author">
                            {% for author in authors %}
                                <option
                                        value="{{ author.idAuthor }}"
                                >
                                    {{ author.nameAuthor }}
                                </option>

                            {% endfor %}
                                selected
                        </select>
                    </div>

                    <div class="group">
                        <label>Место расположения: </label>
                        <br><br>
                        <input type="file" name="URL">
                        <span class="highlight"></span><span class="bar"></span>
                    </div>

                    <div class="group">
                        <label for="name"> Количество страниц: </label>
                        <br><br>
                        <input type="text" name="page" placeholder="Количество страниц:"/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>

                    <div class="group">
                        <label for="name"> Год: </label>
                        <br><br>
                        <input type="text" name="year" placeholder="Год: "/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>

                    <div class="group">
                        <label for = "city">Город: </label>
                        <br><br>
                        <select name="city">
                            {% for city in cities %}
                                <option
                                        value="{{ city.idCity }}"
                                >
                                    {{ city.city }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="group">
                        <label for = "ph">Издательство: </label>
                        <br><br>
                        <select name="ph">
                            {% for ph in publishingHouses %}
                                <option
                                        value="{{ ph.idPublishingHouse }}"
                                >
                                    {{ ph.namePublishingHouse }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="group">
                        <label for = "type_ph">Тип издательства: </label>
                        <br><br>
                        <select name="type_ph">
                            {% for typePh in typePhs %}
                                <option
                                        value="{{ typePh.idTypePh }}"
                                >
                                    {{ typePh.nameTypePh }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="group">
                        <label for = "ph">Категория: </label>
                        <br><br>
                        <select name="category">
                            {% for category in categories %}
                                <option
                                        value="{{ category.idCategory }}"
                                >
                                    {{ category.nameCategory }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="submit" id="add_book" name="add_book" value="Добавить" class="button buttonBlue">
                </form>
            </div>

            <div>
                <form method = "POST" action= "" class="frm">
                    <div class="group">
                        <label for="name"> ФИО Автора: </label>
                        <br><br>
                        <input type="text" name="name_author" placeholder=""/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <input type="submit" id="add_author" name="add_author" value="Добавить" class="button buttonBlue">
                </form>
            </div>

            <div>
                <form method = "POST" action= "">
                    <div class="group">
                        <label for="name"> Наименование издательства: </label>
                        <br><br>
                        <input type="text" name="publishing_house" placeholder=""/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <input type="submit" id="add_ph" name="add_ph" value="Добавить" class="button buttonBlue">
                </form>
            </div>

            <div>
                <form method = "POST" action= "">
                    <div class="group">
                        <label for="name"> Город: </label>
                        <br><br>
                        <input type="text" name="city" placeholder=""/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <input type="submit" id="add_city" name="add_city" value="Добавить" class="button buttonBlue">
                </form>
            </div>

            <div>
                <form method = "POST" action= "">
                    <div class="group">
                        <label for="name"> Вид документа: </label>
                        <br><br>
                        <input type="text" name="type_ph" placeholder=""/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>
                    <input type="submit" id="add_type_ph" name="add_type_ph" value="Добавить" class="button buttonBlue">
                </form>
            </div>

            <div>
                <form method = "POST" action= "">

                    <div class="group">
                        <label for = "name">Название раздела: </label>
                        <br><br>
                        <input type="text" name="name_category" placeholder="Название раздела"/>
                        <span class="highlight"></span><span class="bar"></span>
                    </div>

                    <div class="group">
                            <label for = "name">Родительская категория: </label>
                            <br><br>
                            <select name="category">
                                <option value="0">
                                    Не выбран
                                </option>
                                {% for category in categories %}
                                    {% if category.parent == 0 %}
                                    <option
                                        value="{{ category.idCategory }}"
                                    >
                                        {{ category.nameCategory }}
                                    </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                    </div>

                    <input type="submit" id="add_category" name="add_category" value="Добавить" class="button buttonBlue">
                </form>
            </div>

        </div>
    </div>

    {% block javascripts %}
{#        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>#}
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}

</div>

{% endblock %}