{% extends 'base.html.twig' %}

{% block title %}Добавление{% endblock %}

{% block body %}
    <div class="pageAdd">
        <h1 class="title">Добавляем</h1>

        {% if errorMessage is defined and errorMessage is not null %}
            <p class="empty">{{ errorMessage }}</p>
        {% endif %}

        <div class="tab-wrapper">
            <ul class="tab-menu">
                <li class="active">Книгу</li>
                <li>Автора</li>
                <li>Издательство</li>
                <li>Город</li>
                <li>Вид издательства</li>
                <li>Категорию</li>
            </ul>

            <div class="tab-content">
                <div class="box-container checkout">
                    <form method="POST" action="" enctype="multipart/form-data">

                        <div class="flex">
                            <div class="inputBox">
                                <span>Название книги:</span>
                                <input type="text" name="title" placeholder="Введите название книги"/>
                            </div>

                            <div class="inputBox">
                                <span>Описание к документу:</span>
                                <input type="text" name="description" placeholder="Введите аннотацию к книге"/>
                            </div>

                            <div class="inputBox">
                                <span>Место расположения: </span>
                                <input type="file" name="URL" accept=".pdf, .djvu">
                            </div>

                            <div class="inputBox">
                                <span> Количество страниц: </span>
                                <input type="text" name="page" placeholder="Количество страниц:"/>
                            </div>

                            <div class="inputBox">
                                <span> Год: </span>
                                <input type="text" name="year" placeholder="Год: "/>
                            </div>

                            <div class="inputBox">
                                <span>Автор: </span>
                                <select name="name_author[]" multiple required>
                                    {% for author in authors %}
                                        <option value="{{ author.idAuthor }}">
                                            {{ author.nameAuthor }}
                                        </option>
                                    {% endfor %}
                                    selected
                                </select>
                            </div>

                            <div class="inputBox">
                                <span>Город: </span>
                                <select name="city">
                                    {% for city in cities %}
                                        <option value="{{ city.idCity }}">
                                            {{ city.city }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="inputBox">
                                <span>Издательство: </span>
                                <select name="ph[]" multiple required>
                                    {% for ph in publishingHouses %}
                                        <option value="{{ ph.idPublishingHouse }}">
                                            {{ ph.namePublishingHouse }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="inputBox">
                                <span>Тип издательства: </span>
                                <select name="type_ph">
                                    {% for typePh in typePhs %}
                                        <option value="{{ typePh.idTypePh }}">
                                            {{ typePh.nameTypePh }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="inputBox">
                                <span>Категория: </span>
                                <select name="category">
                                    {% for category in categories %}
                                        <option value="{{ category.idCategory }}">
                                            {{ category.nameCategory }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="inputBox">
                                <input type="submit" id="add_book" name="add_book" value="Добавить"
                                       class="btn-custom">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box-container checkout">
                    <form method="POST" action="" class="frm">
                        <div class="flex">
                            <div class="inputBox">
                                <input type="text" name="name_author" placeholder="Введите ФИО автора"/>
                            </div>
                            <div class="inputBox">
                                <input type="submit" id="add_author" name="add_author" value="Добавить"
                                       class="btn-custom">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box-container checkout">
                    <form method="POST" action="">
                        <div class="flex">
                            <div class="inputBox">
                                <input type="text" name="publishing_house"
                                       placeholder="Введите название издательства"/>
                            </div>
                            <div class="inputBox">
                                <input type="submit" id="add_ph" name="add_ph" value="Добавить" class="btn-custom">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box-container checkout">
                    <form method="POST" action="">
                        <div class="flex">
                            <div class="inputBox">
                                <input type="text" name="city" placeholder="Введите название города"/>
                            </div>
                            <div class="inputBox">
                                <input type="submit" id="add_city" name="add_city" value="Добавить"
                                       class="btn-custom">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box-container checkout">
                    <form method="POST" action="">
                        <div class="flex">
                            <div class="inputBox">
                                <input type="text" name="type_ph" placeholder="Введите тип документа"/>
                            </div>
                            <div class="inputBox">
                                <input type="submit" id="add_type_ph" name="add_type_ph" value="Добавить"
                                       class="btn-custom">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box-container checkout">
                    <form method="POST" action="">
                        <div class="flex">

                            <div class="inputBox">
                                <span>Название раздела: </span>
                                <input type="text" name="name_category" placeholder="Введите название раздела"/>
                            </div>


                            <div class="inputBox">
                                <span>Родительская категория: </span>
                                <select name="category">
                                    <option value="0">Не выбрана</option>
                                    {% for category in categories %}
                                        {% if category.parent == 0 %}
                                            <option value="{{ category.idCategory }}">
                                                {{ category.nameCategory }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="inputBox">
                                <input type="submit" id="add_category" name="add_category" value="Добавить"
                                       class="btn-custom">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/header_script.js') }}"></script>
{% endblock %}