{% extends 'base.html.twig' %}

{% block title %}Редактирование{% endblock %}

{% block body %}
    <section class="checkout">
        <form method="POST" action="" enctype="multipart/form-data">
            <h3>Редактируем книгу "{{ book.title }}"</h3>

            {% if errorMessage is defined and errorMessage is not null %}
                <p class="empty">{{ errorMessage }}</p>
            {% endif %}

            <div class="flex">
                <div class="inputBox">
                    <span>Название книги:</span>
                    <input type="text" name="title" value="{{ book.title }}"/>
                </div>

                <div class="inputBox">
                    <span>Описание к документу:</span>
                    <input type="text" name="description" value="{{ book.description }}"/>
                </div>

                <div class="inputBox">
                    <span>Место расположения: {{ book.url }}</span>
                    <input type="file" name="URL"/>
                </div>

                <div class="inputBox">
                    <span> Количество страниц: </span>
                    <input type="text" name="page" value="{{ book.page }}"/>
                </div>

                <div class="inputBox">
                    <span> Год: </span>
                    <input type="text" name="year" value="{{ book.year }}"/>
                </div>

                <div class="inputBox">
                    <span>Автор: </span>
                    <select name="name_author[]" multiple required>
                        {% for author in authors %}
                            <option value="{{ author.idAuthor }}"
                                    {% if author.idAuthor in selectedAuthors %}selected{% endif %}>
                                {{ author.nameAuthor }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inputBox">
                    <span>Город: </span>
                    <select name="city">
                        {% for city in cities %}
                            <option value="{{ city.idCity }}"
                                    {% if city.idCity == book.city.idCity %}selected{% endif %}>
                                {{ city.city }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inputBox">
                    <span>Издательство: </span>
                    <select name="ph[]" multiple required>
                        {% for ph in publishingHouses %}
                            <option value="{{ ph.idPublishingHouse }}"
                                    {% if ph.idPublishingHouse in selectedPublishingHouses %}selected{% endif %}>
                                {{ ph.namePublishingHouse }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inputBox">
                    <span>Тип издательства: </span>
                    <select name="type_ph">
                        {% for typePh in typePhs %}
                            <option value="{{ typePh.idTypePh }}"
                                    {% if typePh.idTypePh == book.typePh.idTypePh %}selected{% endif %}>
                                {{ typePh.nameTypePh }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="inputBox">
                    <span>Категория: </span>
                    <select name="category">
                        {% for category in categories %}
                            <option value="{{ category.idCategory }}"
                                    {% if book.parent is defined and book.parent is not null and category.idCategory ==book.parent.idCategory %}selected{% endif %}>
                                {{ category.nameCategory }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inputBox">
                    <input type="submit" id="save" name="save" value="Сохранить" class="btn-custom">
                </div>
                <div class="inputBox">
                    <input type="submit" id="del" name="del" value="Удалить книгу" class="delete-btn-custom">
                </div>
            </div>
        </form>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}