{% extends 'base.html.twig' %}
{% block body %}
    <div id="leftCol">
        {{ render('/menu/categories') }}
    </div>
    {% if message is defined and message is not null %}
        <span>{{ message|escape }}</span>
    {% endif %}
    {% if favorite_books is defined and favorite_books is not null and favorite_books is not empty %}
        <article>
            {% include 'book/list.html.twig' with {'books': books, 'user': user, 'favoriteBooks': favorite_books} %}
            {% if pagination is not null %}
                {{ pagination|raw }}
            {% endif %}
        </article>
        <br />
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/favoritebookscontroller.js') }}"></script>
    <script>
        {% if user is defined and user is not null %}
        document.addEventListener('DOMContentLoaded', () => {
            const fbc = new FavoriteBooksController('{{ user.id_users }}');
        });
        {% endif %}
    </script>

{% endblock %}

