{% for book in books %}
    <div class="object">
        {% if user is defined and user is not null%}
            <div class="circle"><span class="title">
    <a href="{{  path('reader', { 'bookId': book.idBooks}) }}" target="_blank">
        {{ book.title|escape }} </a>
            </span></div>
        {% endif %}


        <p class="object_string"><span class="oblique">Описание: </span>{{ book.description|escape }}</p>

        <p class="object_string"><span class="oblique">Автор: </span>{{ book.author.nameAuthor|escape }}</p>
        <p class="object_string"><span class="oblique">Страниц: </span>{{ book.page|escape }}</p>
        <p class="object_string"><span class="oblique">Год: </span>{{ book.year|escape }}</p>
        <p class="object_string"><span class="oblique">Город: </span>{{ book.city.city|escape }}</p>
        <p class="object_string"><span class="oblique">Издательство: </span>{{ book.publishingHouse.namePublishingHouse|escape }}</p>
        <p class="object_string"><span class="oblique">Вид издательства: </span>{{ book.typePh.nameTypePh|escape }}</p>
        <p class="object_string"><span class="oblique">Категория: </span>{{ book.parent.nameCategory|escape }}</p>
        <p class="object_string"><span class="oblique">Средняя оценка: </span>{{ book.averageRating|escape }} / 5</p>

        {% if user is defined and user is not null %}
            <div class="book-actions">
                {% if user.id_role == 1 %}
                    <div>
                        <p class="object_string">
                <span class="oblique">
                    <h5 align="center" class="grow">
                        <a href="{{ path('edit_get', {'bookId': book.idBooks}) }}">
                            <img src="{{ asset('img/edit.png') }}" width="42" height="42"
                                 style="right: 10px;position: inherit;vertical-align: top;" />
                        </a>
                    </h5>
                </span>
                        </p>
                    </div>
                {% endif %}
                <div>
                    <a href="{{ path('rating_list', {'bookId': book.idBooks}) }}">Отзывы</a>
                </div>
                {% if favoriteBooks is defined and favoriteBooks is not null %}
                    <div class="favorite-flag">
                        {% if book.idBooks in favoriteBooks %}
                            <span class="favorite-flag__value" data-book-id="{{ book.idBooks|escape }}" data-value="Y">
                                <i class="fa fa-star"></i>
                            </span>
                        {% else %}
                            <span class="favorite-flag__value" data-book-id="{{ book.idBooks|escape }}" data-value="N">
                                <i class="fa fa-star-o"></i>
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endfor %}
<script src="{{ asset('js/favoritebookscontroller.js') }}"></script>
<script>
    {% if user is defined and user is not null %}
    document.addEventListener('DOMContentLoaded', () => {
        const fbc = new FavoriteBooksController('{{ user.id_users }}');
    });
    {% endif %}
</script>