{% extends 'base.html.twig' %}
{% block body %}
    <section class="checkout">
        {% if error_message is defined and error_message is not null %}
            <p class="empty">{{ error_message|escape }}</p>
            <h4 align="left">
                <a href="{{ path('admin_index') }}">&#8678; Вернуться в список для редактирования</a>
            </h4>
        {% endif %}

        {% if publishing_house is defined and publishing_house is not null %}
            <form method="POST"
                  action="{{ path('publishing_house_edit_post', {'publishingHouseId': publishing_house.idPublishingHouse}) }}"
                  class="frm">
                <h3>Редактируем издательский дом "{{ publishing_house.namePublishingHouse }}".</h3>
                <div class="flex">
                    <div class="inputBox">
                        <span> Название издательского дома::</span>
                        <input type="text" name="name_publishing_house"
                               value="{{ publishing_house.namePublishingHouse|escape }}" placeholder=""/>
                        <p>
                            <a href="{{ path('publishing_house_delete', {'publishingHouseId': publishing_house.idPublishingHouse}) }}"
                               class="delete-btn-custom">Удалить издательский дом</a>
                        </p>
                    </div>
                    <div class="inputBox">
                        <span> Сохранить изменения:</span>
                        <input type="submit" id="add_publishing_house" name="add_publishing_house" value="Редактировать"
                               class="btn-custom">
                    </div>
                </div>
                <h4 align="end">
                    <a href="{{ path('admin_index') }}">Вернуться в список для редактирования &#8680;</a>
                </h4>
            </form>
        {% endif %}
    </section>
{% endblock %}