{% extends 'base.html.twig' %}
{% block body %}
    <section class="checkout">
        {% if error_message is defined and error_message is not null %}
            <p class="empty">{{ error_message|escape }}</p>
            <h4 align="left">
                <a href="{{ path('admin_index') }}">&#8678; Вернуться в список для редактирования</a>
            </h4>
        {% endif %}

        {% if city is defined and city is not null %}
            <form method="POST" action="{{ path('city_edit_post', {'cityId': city.idCity}) }}" class="frm">

                <h3>Редактируем город "{{ city.city }}".</h3>
                <div class="flex">
                    <div class="inputBox">
                        <span> Название города:</span>
                        <input type="text" name="city" value="{{ city.city|escape }}" placeholder=""/>
                        <p>
                            <a href="{{ path('city_delete', {'cityId': city.idCity}) }}"
                               class="delete-btn-custom">Удалить город</a>
                        </p>
                    </div>
                    <div class="inputBox">
                        <span> Сохранить изменения:</span>
                        <input type="submit" id="add_city" name="add_city" value="Редактировать"
                               class="btn-custom">
                    </div>
                </div>
                <h4 align="end">
                    <a href="{{ path('admin_index') }}">Вернуться в список для редактирования &#8680;</a>
                </h4>
            </form>
        {% endif %}

    </section>
{% endblock %}