 <div class="page-navigation">
        {% if pagination is not null %}
            {% if pagination.currentPage > 1 %}
                <div class="page-item">
                    <a href="/?page=1" title="Первая страница">&laquo;</a>
                </div>
                <div class="page-item">
                    <a href="{{ pagination.pageUrl }}/?page={{ pagination.prevPage|escape }}">{{ pagination.prevPage|escape }}</a>
                </div>
            {% endif %}
            <div class="page-item">
                <a href="#">{{ pagination.currentPage|escape }}</a>
            </div>
            {% if pagination.hasNextPage %}
                <div class="page-item">
                    <a href="{{ pagination.pageUrl }}/?page={{ pagination.nextPage|escape }}">{{ pagination.nextPage|escape }}</a>
                </div>
                <div class="page-item">
                    <a href="{{ pagination.pageUrl }}/?page={{ pagination.lastPage|escape }}" title="Последняя страница">&raquo;</a>
                </div>
            {% endif %}
            <div class="page-item">
                <span>Страница {{ pagination.currentPage }} из {{ pagination.lastPage }}</span>
            </div>
        {% endif %}
    </div>

<link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
<link rel="stylesheet" href="{{ asset('css/style.css') }}">