<nav class="text-center mt-5">
    {% if pagination is not null %}
        <ul class="pagination pagination-lg justify-content-center">
            {% if pagination.currentPage > 1 %}
                <li class="page-item"><a class="page-link" href="/?page=1" title="Первая страница">Первая</a></li>
                <li class="page-item">
                    <a class="page-link" href="{{ pagination.pageUrl }}/?page={{ pagination.prevPage|escape }}">
                        {{ pagination.prevPage|escape }}</a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ pagination.currentPage|escape }}</a>
            </li>
            {% if pagination.hasNextPage %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ pagination.pageUrl }}/?page={{ pagination.nextPage|escape }}">{{ pagination
                        .nextPage|escape }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ pagination.pageUrl }}/?page={{ pagination.lastPage|escape }}"
                       title="Последняя страница">Последняя</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>