{% set user = app.session.get('user') %}
    {% if menu is not empty %}
        <h3>Категории книг библиотеки</h3>
        <div class="ul-menu">
            <ul class="category">
                {% for id, item in menu %}
                    {% if item.parent is defined %}
                    <li>
                        <a href="/?category={{ id|escape }}">{{ item.parent|escape }}</a>
                        {% if item.children is defined %}
                            <ul>
                                {% for childId, child in item.children %}
                                    <li>
                                        <a href="/?category={{ childId|escape }}">{{ child|escape }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery.accordion.js') }}"></script>
    <script src="{{ asset('js/jquery.cookie.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".category").dcAccordion();
        });
    </script>

{% endblock %}